*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.result {
  min-height: 456px;
}

.result__video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
  padding-left: 3px;
  padding-bottom: 3px;
}

.content__list-item {
  margin-bottom: 30px;
  padding: 2px;
}

.content__card-link {
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.button {
  appearance: none;
  height: 34px;
  background: transparent;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.more-button {
  width: 99%;
  padding: 1px;
}

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__textfield {
  appearance: none;
  background: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  width: 225px;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
  font: inherit;
}

.search-form__label {
  display: inline-flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
}

.search-form__label:hover:has(.search-form__pseudo-checkbox) {
  text-decoration-line: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
}
